{% extends '@Souk/layout.html.twig' %}
{% block body %}
    <div class="section">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="section-title">
                    <h2 class="title">
                        Détails tombola
                    </h2>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!--  Product Details -->
                    <div class="product product-details clearfix">
                        <div class="col-md-6">
                            <div id="product-main-view">
                                <div class="product-view">
                                    <img src="{{ asset('uploads/' ~ tombola.path) }}" alt="image du tombola" class="img-thumbnail
                    img-rounded img-responsive"/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="product-body">
                                <div class="product-label pull-right">
                                    {% if 'now'|date('Y-m-d H:i:s') > tombola.dateTirage|date('Y-m-d H:i:s') %}
                                        <span style="background-color: red" class="pull-right">Cloturée</span><br>
                                        {% if tombola.idArtisan is not null and tombola.idGagnant is not null %}
                                            <span style="background-color: #2ecc71">Le gagnant est : {{ tombola.idGagnant.nom }} {{ tombola.idGagnant.prenom }}</span>
                                        {% endif %}

                                    {% else %}
                                        <span style="background-color: forestgreen">Ouverte</span>
                                    {% endif %}
                                </div>

                                <h2 class="product-name">{{ tombola.titre }}</h2>
                                <p><strong>Date d'ajout
                                        : </strong>Le {{ tombola.dateAjout |  date('d/m/Y \\à H\\h i\\m s\\s') }}</p>
                                <p><strong>Date de tirage
                                        : </strong>Le {{ tombola.dateTirage |  date('d/m/Y \\à H\\h i\\m s\\s') }}</p>

                                <p><strong>Date derniere modification :</strong>
                                    {% if not tombola.dateModif is empty %}
                                        Le {{ tombola.dateModif |  date('d/m/Y \\à H\\h i\\m s\\s') }}.
                                    {% else %}
                                        Jamais.
                                    {% endif %}

                                </p>


                                <p>
                                    {{ tombola.description }}
                                </p>
                                <p><strong>Participants :</strong></p>
                                {% if not participants is empty %}
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Date d'inscription</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in participants %}
                                            <tr>
                                                <td> {{ p.nom }} </td>
                                                <td> {{ p.prenom }}  </td>
                                                <td> {{ p.dateIscription | date('d-m-Y H:i:s') }} </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>
                                        Pour l'instant, il n'y a pas de participants dans le tirage.
                                    </p>
                                {% endif %}
                                <div class="product-btns">
                                    <div class="pull-right">
                                        {% if 'now -1 hour'|date('Y-m-d H:i:s') > tombola.dateTirage|date('Y-m-d H:i:s') %}
                                            <a href="{{ path('modifier',{id: tombola.id}) }}"
                                               class="btn btn-warning disabled"
                                               role="button" aria-disabled="true"><i class="fa fa-pencil"></i> Modifier</a>
                                        {% else %}
                                            <a href="{{ path('modifier',{id: tombola.id}) }}" class="btn btn-warning"
                                               role="button"><i class="fa fa-pencil"></i> Modifier</a>
                                        {% endif %}

                                        <button class="btn btn-danger alert_supp"
                                                href="{{ path('supprimer',{id: tombola.id}) }}">
                                            <i class="fa fa-trash"></i> Supprimer
                                        </button>

                                    </div>
                                    <div class="pull-left">

                                        <a href="{{ path('afficherTombolasArtisan') }}" class="btn btn-primary"
                                           role="button"><i class="fa fa-arrow-left"></i> Retour</a>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- /Product Details -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
                <!-- /section -->
            </div>
        </div>
        <!-- /container -->
    </div>


    {% block javascripts %}
        <script>
            $('.alert_supp').confirm({
                title: 'Suppression',
                content: 'Voulez-vous vraiment supprimer cette tombola ?',
                type: 'red',
                typeAnimated: true,
                boxWidth: '300px',
                theme: 'modern',
                draggable: true,
                useBootstrap: true,
                backgroundDismiss: false,
                backgroundDismissAnimation: 'glow',
                buttons: {
                    Oui: {
                        text: 'Oui',
                        btnClass: 'btn-red',
                        action: function () {
                            location.href = this.$target.attr('href');
                        }
                    },
                    Non: {
                        text: 'Non',
                        action: function () {
                        }
                    }
                }
            });


        </script>
    {% endblock javascripts %}

{% endblock body %}