{% extends '@Souk/layout.html.twig' %}
{% block body %}
    <div class="section" style="padding: 30px;">
        <div class="container form-group">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="section-title">
                        <h2 class="title">
                            Modifier Tombola
                        </h2>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        {#{{ form_errors(form) }}#}
                        <form method="post" enctype="multipart/form-data" id="form">
                            {{ form_start(form) }}

                            {{ form_row(form.titre) }}
                            {{ form_row(form.description) }}
                            {#{{ form_row(form.dateTirage) }}#}

                            <div class="form-group">
                                <label for="name-login">Date de tirage</label>
                                <div class='input-group date' id='datetimepicker'>
                                    {{ form_widget(form.dateTirage, {'attr': {'class': 'form_tirage'}}) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span style="color: #a94442" {{ form_errors(form.dateTirage) }} </span>
                            </div>


                            {#{{ form_rest(form) }}#}

                            <div class="form-group" id="1">
                                {{ form_row(form.file) }}

                                <span class="help-block" style="color: #a94442" id="erreurFile">
                                         <ul class="list-unstyled" style="color: #a94442">
                                             <li>
                                                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                                                        Taille image doit être < 2 Mo
                                              </li>
                                      </ul>
                                </span>

                            </div>

                            <div class="form-group">
                                <input type="submit" class="primary-btn" id="submit" value="Modifier">
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>

                </div>
                <div class="col-md-4 col-md-offset-1">
                    <img id="img" src="{{ asset('uploads/' ~ path) }}" alt="Apercu de votre image" width="100%" class="img-thumbnail
                    img-rounded img-responsive"/>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>

    {% block javascripts %}
        <script type="text/javascript">
            $("#erreurFile").hide();



            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }


            // $("#submit").click(function(){
            //     alert($('input[type=file]').val());
            // });

            $("#tombolabundle_tombola_file").attr('accept', 'image/*');

            var fileSize = 0;
            $("#tombolabundle_tombola_file").change(function () {
                fileSize = this.files[0].size;
                fileSize = fileSize / (1024 * 1024);
                if (fileSize < 2) {
                    $("#erreurFile").hide();
                    readURL(this);
                } else {
                    $("#erreurFile").show();
                    readURL(this);
                }
            });

            //  $("#submit").click(function(){
            //
            //     alert($('input[type=file]').val());
            // });


            $("#form").submit(function (e) {
                if (fileSize > 2) {
                    console.log('not valide');
                    // alert( 'Verifier votre fichier.\nTaille maximale 2 Mo.');

                    e.preventDefault();
                    $("#erreurFile").show();
                    return false;

                } else {
                    //many scripts

                    $(this).trigger('submit');

                }

            });

            // $('input[type=file]').change(function(){
            //     readURL(this);
            // });


            $(function () {
                $('#datetimepicker').datetimepicker({
                    format: 'YYYY/MM/DD HH:mm:ss'
                });
            });


       </script>

    {% endblock javascripts %}

{% endblock body %}

