<div class="container" id="result">
    <div class="col-lg-12">

        {% if not tombolas is empty %}
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Etat</th>
                    <th rowspan="1">Titre</th>
                    <th rowspan="1">Description</th>
                    <th rowspan="1">Date du tirage</th>
                    <th rowspan="1">Date d'ajout</th>
                    {#<th rowspan="1">Date Derniere modification</th>#}
                    <th></th>
                    <th>Opérations</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for tombola in tombolas %}
                    <tr id="tomb{{ tombola.id }}">
                        <td>
                            {% if 'now '|date('Y-m-d H:i:s') < tombola.dateTirage|date('Y-m-d H:i:s') %}
                                <p class="fa fa-circle" style="color: green"></p>
                            {% elseif tombola.idGagnant is not null %}
                                <p class="fa fa-circle" style="color: red"></p>
                            {% else %}
                                <p class="fa fa-circle" style="color: orange"></p>
                            {% endif %}
                        </td>
                        <td> {{ tombola.titre }} </td>

                        <td> {{ tombola.description [0:25] }}{% if tombola.description|length > 25 %}...{% endif %}</td>
                        <td> {{ tombola.dateTirage | date('d-m-Y H:m:s') }} </td>
                        <td> {{ tombola.dateAjout | date('d-m-Y H:m:s') }} </td>
                        {#<td> {{ tombola.dateModif | date('d-m-Y H:m:s') }} </td>#}

                        <td>
                            <a href="{{ path('details',{id: tombola.id}) }}">
                                <button class="btn btn-info"><i class="fa fa-info-circle"></i>
                                    Détails
                                </button>
                            </a>
                        </td>

                        <td>
                            {% if 'now'|date('Y-m-d H:i:s') > tombola.dateTirage|date('Y-m-d H:i:s') %}
                                <a href="{{ path('modifier',{id: tombola.id}) }}"
                                   class="btn btn-warning disabled"
                                   role="button" aria-disabled="true"><i
                                            class="fa fa-pencil"></i> Modifier</a>
                            {% else %}
                                <a href="{{ path('modifier',{id: tombola.id}) }}"
                                   class="btn btn-warning"
                                   role="button"><i class="fa fa-pencil"></i> Modifier</a>
                            {% endif %}

                            {#<a href="{{ path('modifier',{id: tombola.id}) }}">#}
                            {#<button class="btn btn-warning"><i class="fa fa-pencil"></i>#}
                            {#Modifier#}
                            {#</button>#}
                            {#</a>#}
                        </td>
                        <td>
                            <button class="btn btn-danger alert_supp"
                                    href="{{ path('supprimer',{id: tombola.id}) }}">
                                <i class="fa fa-trash"></i> Supprimer
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}

        {% endif %}

    </div>
</div>
