{% extends "@Souk/layout.html.twig" %}


{% block title %}
    <div class="section-title">
        <h2 class="title">
            Ajouter une Evaluation
        </h2>
    </div>
{% endblock title %}

{% block fos_user_content %}
    <html>

    <a href="{{ path('ajouter_evaluationBoutique',{'note': 1 , 'idBoutique': 2}) }}" ><i class="fa fa-star"></i></a>
    <a href="{{ path('ajouter_evaluationBoutique',{'note': 2 , 'idBoutique': 2}) }}" ><i class="fa fa-star"></i></a>
    <a href="{{ path('ajouter_evaluationBoutique',{'note': 3 , 'idBoutique': 2}) }}" ><i class="fa fa-star"></i></a>
    <a href="{{ path('ajouter_evaluationBoutique',{'note': 4 , 'idBoutique': 2}) }}" ><i class="fa fa-star"></i></a>
    <a href="{{ path('ajouter_evaluationBoutique',{'note': 5 , 'idBoutique': 2}) }}" ><i class="fa fa-star"></i></a>

    </html>


{% endblock fos_user_content %}