{% block rate %}

    <html>
    <br>
    <br>
    <div class="section-title"><h4>Donner votre feedback</h4></div>
    <div class="section">
        {% spaceless %}
            <a href="{{ path('ajouter_evaluationBoutique',{'note': 1 , 'idBoutique': idBoutique}) }}"><i class="fa fa-star"></i></a>
            <a href="{{ path('ajouter_evaluationBoutique',{'note': 2 , 'idBoutique': idBoutique}) }}"><i class="fa fa-star"></i></a>
            <a href="{{ path('ajouter_evaluationBoutique',{'note': 3 , 'idBoutique': idBoutique}) }}"><i class="fa fa-star"></i></a>
            <a href="{{ path('ajouter_evaluationBoutique',{'note': 4 , 'idBoutique': idBoutique}) }}"><i class="fa fa-star"></i></a>
            <a href="{{ path('ajouter_evaluationBoutique',{'note': 5 , 'idBoutique': idBoutique}) }}"><i class="fa fa-star"></i></a>
        {% endspaceless %}
        <br>
        <br>
        {% block reclamation %}
            {{ render(controller(
                'ReclamationBundle\\Controller\\ReclamationController::ajouterReclamationAction',
                { 'idBoutique': idBoutique }
            )) }}
        {% endblock reclamation %}
    </div>

    </html>
{% endblock rate %}