{%extends '@Souk/layout.html.twig'%}
{%block body %}

<a href="{{ path('ajouter_produit') }}" class="btn btn-default"><span>Ajouter</span></a>
<a href="{{ path('afficher_statistique') }}" class="btn btn-default"><span>Statistiques</span></a>

<center><h1>Liste Des Aliments</h1>
    <form>

        <input type="text" name="mot" id="mot" placeholder="chercher">
    </form>
    <div class="box-body">
        <style type="text/css">
            table{border-collapse: collapse;width: 40%;font-size: 10pt;} table,th,td{border:1px solid #cfbfa6;} th{background:#cfbfa6;color: white;}
        </style>
        <table id="example2" class="table table-bordered table-hover">

            <th>Id</th>
            <th>Libelle</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Categorie</th>
            <th>Animal</th>
            <th>Url_Image</th>
            <th>Quantite</th>
            <th>Supprimer || Modifier</th>



            </thead>
            <tbody id="tbody">
            {% for p in produits %}
            <tr><td>{{  p.id }}</td>
                <td>{{  p.libelle }}</td>
                <td>{{  p.description }}</td>
                <td>{{  p.prix }}</td>
                <td>{{  p.reference }}</td>
                <td>{{  p.taille }}</td>
                <td>{{  p.texture }}</td>
                <td>{{ asset('images/' ~ p.photo) }}</td>
                <td>{{  p.couleur }}</td>


                <td><a href="{{ path('supprimer_produit',{'id':p.id}) }}" class='btn btn-default'>X</a><a href="{{ path('modifier_produit',{'id':p.id}) }}" class='btn btn-default'><i class='fa fa-pencil-square-o'></i></a></td>
                <td> </td>

            </tr>
            {% endfor %}

            </tbody>
        </table>
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>


        {% endblock %}