{%extends '@Souk/layout.html.twig'%}
{%block body %}
    <center>
        <div class="container">
            <div class="login">
                <h1>Ajouter Un Produit</h1><br>

                <legend>Formulaire </legend>
                <fieldset style="width: 30%">

                    {{ form_start(form) }}

                    Liblle :      {{ form_widget(form.libelle) }}<br>
                    Description : {{ form_widget(form.description) }}<br>
                    Prix en DT :       {{ form_widget(form.prix) }}<br>
                    Quentite :    {{ form_widget(form.quantite) }}<br>
                    Animal :      {{ form_widget(form.animal) }}<br>
                    Catégorie :   {{ form_widget(form.categorie) }}<br>

                    {{ form_end(form) }}

                </fieldset>
            </div>
        </div>
    </center>
{% endblock %}