{%extends '@Souk/layout.html.twig'%}
{%block body %}

    {#<div class="product">#}

        {#<div class="container">#}
            {#<div class="col-md-9">#}
                {#<div class="mid-popular">#}
                        {#{% for p in produits %}#}
                        {#<div class="col-md-4 item-grid1 simpleCart_shelfItem">#}
                            {#<div class=" mid-pop">#}
                                {#<div class="pro-img">#}
                                    {#<img src="{{ asset('img/' ~ p.path) }}" class="img-responsive" alt="">#}
                                    {#<div class="zoom-icon ">#}
                                        {#<a class="picture" href="{{ asset('img/' ~ p.path) }}" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>#}
                                        {#<a href="{{ path('afficher_produit_details',{'id':p.id}) }}"> Afficher Les Détails</a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="mid-1">#}
                                    {#<div class="women">#}
                                        {#<div class="women-top">#}
                                            {#<span>Référence: {{  p.reference }}</span>#}
                                            {#<h6><a href="">Libelle: {{  p.libelle }}</a></h6>#}
                                            {#<h6><a href="">Boutique: {{  p.boutique.nom }}</a></h6>#}
                                        {#</div>#}
                                        {#<div class="img item_add">#}
                                            {#<a href="#"><img src="{{ asset('uploads/' ~ p.path) }}" alt="" width="350px" height="330px"></a>#}
                                        {#</div>#}
                                        {#<div class="clearfix"></div>#}
                                    {#</div>#}
                                    {#<div class="mid-2">#}
                                        {#<p ><em class="item_price">Prix: {{  p.prix }}dt</em></p>#}
                                        {#<div class="block">#}
                                            {#<div class="starbox small ghosting"> </div>#}
                                        {#</div>#}

                                        {#<div class="clearfix"></div>#}
                                    {#</div>#}

                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}


                    {#<div class="clearfix"></div>#}
                {#</div>#}
            {#</div>#}


        {#</div>#}
    {#</div>#}

    <div class="row col-md-10 col-md-offset-1" id="result">
        {% for p in produits %}
            <!-- Product Single -->
            <div class="col-md-4 col-sm-6 col-xs-6">

                    <div class="product product-single">
                        <div class="product-thumb">


                            <img src="{{ asset('uploads/' ~ p.path) }}"
                                 alt="image" width="350px" height="330px">
                        </div>
                        <div class="product-body">
                            <div class="product-rating">
                                {% block rating %}
                                    {{ render(controller(
                                        'EvaluationBundle\\Controller\\EvaluationController::evaluationProduitAction',
                                        { 'idProduit': p.id }
                                    )) }}
                                {% endblock rating %}
                            </div>
                            <h3 class="product-price"> {{ p.prix }}
                            </h3>

                            <h2 class="product-name"> {{  p.libelle }}
                            </h2>
                            <div class="product-btns">

                                <a href="{{ path('afficher_produit_details',{'id':p.id}) }}">
                                    <button class="btn primary-btn add-to-cart"><i
                                                class="fa fa-info"></i>
                                        Details du produit
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

            </div>
            <!-- /Product Single -->
        {% endfor %}

    </div>

    <!--//content-->

{% endblock %}