{%extends '@Souk/layout.html.twig'%}
{%block body %}
<div class="section" style="padding: 30px;">
    <div class="container form-group">
        <div style="margin-top: -70px;" class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="section-title">
                    <h2 class="title">
                        Modification Du Produit: {{ produit.libelle }}
                    </h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
            <form method="POST">
                Libelle: <input type="text" name="libelle" value="{{ produit.libelle }}"><br>
                Description: <input type="text" name="description" value="{{ produit.description }}"><br>
                Reference: <input type="text" name="reference" value="{{ produit.reference }}"><br>
                Texture: <input type="text" name="texture" value="{{ produit.texture }}"><br>
                Poids: <input type="number" name="poids" value="{{ produit.poids }}"><br>
                Couleur: <input type="text" name="couleur" value="{{ produit.couleur }}"><br>
                <select name="produit">

                </select><br>
                Prix: <input type="text" name="prix" value="{{ produit.prix }}"><br>
                <div class="form-group">
                    <br><br><input type="submit" class="btn btn-warning" id="submit" value="Modifer ">
                    <a href="{{ path('afficher_produits') }}" class="btn btn-default">Annuler </a>
                </div>

            </form>
                </div>
            </div>
        </div>


{% block javascripts %}
    <script>


        $(".notification").each(function(){
            $(this).hide();
            $("#submit").on("click", function(){
                $(".notification").toggle();
                $(this).css('top',65 +$(this).index() + 'px');
                $(".notification").animate({'left':'0px'});
                $(".notification").delay(4000).fadeOut('low');
            });

        });

    </script>

{% endblock javascripts %}
{% endblock %}

