{#{% extends "@Souk/layout.html.twig" %}#}


{#{% block title %}#}
    {#<div class="section-title">#}
        {#<h2 class="title">#}
            {#Liste des Reclamations#}
        {#</h2>#}
    {#</div>#}
{#{% endblock title %}#}

{#{% block fos_user_content %}#}

    {#<html>#}
    {#<div class="container">#}

        {#<div class="title">#}
            {#<div class="col"><h5>description</h5></div>#}
            {#<div class="col"><h5>date creation</h5></div>#}
            {#<div class="col"><h5>action</h5></div>#}
        {#</div>#}
        {#{% for r in reclamations %}#}
            {#<div class="row">#}
                {#<div class="col">#}
                    {#{{ r.description }}#}
                {#</div>#}
                {#<div class="col">#}
                    {#{{ r.dateCreation|date('d/m/y') }}#}
                {#</div>#}
                {#<div class="col">#}
                    {#<a href="{{ path('supprimer_reclamation',{'id':r.id}) }}">supprimer</a>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}
    {#</html>#}


{#{% endblock fos_user_content %}#}

{% extends '@Souk/layout.html.twig' %}

{% block title %}
    <div class="section-title">
        <h2 class="title">
            Liste des Reclamations
        </h2>
    </div>
{% endblock title %}

{% block body %}
    <div style="padding-left: 30px; padding-right: 30px">
        <!-- section -->
        <div>

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- MAIN -->
                    <div id="main">
                        <!-- reclamation top filter -->
                        <div class="store-filter clearfix">
                            <div class="pull-right">
                                <div class="row-filter">
                                    <form class="navbar-form" role="search" style="padding-left: 60px">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="keyword"
                                                   placeholder="Chercher...">
                                            <span class="input-group-btn">
                                            <button type="submit" class="btn btn-template-main"><i
                                                        class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /reclamation top filter -->
                        <!-- Reclamation -->

                        <div id="store">
                            <!-- row -->
                            <div class="row" id="result">
                                {% for r in reclamations %}
                                    <!-- Product Single -->
                                    <div class="col">
                                        <div class="product product-single"
                                             style="background-color: #f5f5f5; margin-top: 3%; border-radius: 8px;">
                                            <div class="product-label clearfix" style="margin-top: -2%">
                                                {% if r.idBoutique %}
                                                    <span style="background-color: orange">Boutique : {{ r.idBoutique.nom }}</span>
                                                {% else %}
                                                    <span style="background-color: forestgreen">Produit : {{ r.idProduit.nom }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="product-btns pull-right" style="margin-right: 20px">
                                                <button class="btn btn-danger alert_supp pull-right"><i
                                                            class="fa fa-times "><a
                                                                href="{{ path('supprimer_reclamation',{'id':r.id}) }}"></a></i>
                                                Supprimer</button>
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name" style="color: #4A4E5A">{{ r.description }}</h3>
                                                <h5>
                                                    <a target="_blank" style="color: #229fac"
                                                       href="{{ path('fos_user_profile_show',{id: r.idUser.id}) }}">
                                                        Voir Utilisateur</a>
                                                </h5>
                                                <h5 class="product-price" style="color: #4A4E5A">{{ r.dateCreation|date('d/m/y') }}</h5>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /Product Single -->
                                {% endfor %}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /STORE -->
                    </div>
                    <!-- /MAIN -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /section -->
    </div>
    <!-- /container -->
{% endblock body %}