
{% extends '@Souk/layout.html.twig' %}
{%block body %}
<div class="container">

<table class="table table-bordered table-hover">

        <th>nom</th>
        <th>adresse</th>
        {#<th>propio</th>#}
        <th>date creation</th>
        <th>action</th>

    {% for b in boutiques %}
    <tr>
        <td>
            {{ b.nom }}
        </td>
        <td>
            {{ b.adresse }}
        </td>
     {#   <td>
            {{ b.idUser.nom }}
        </td>#}
        <td>
            {{ b.dateCreation|date('d/m/y') }}
        </td>
        <td>
            <a href="{{ path('modifier_boutique',{'id':b.id}) }}">modifier</a>
            <a href="{{ path('supprimer_boutique',{'id':b.id}) }}">supprimer</a>
        </td>

    </tr>
    {% endfor %}

</table>
</div>
{% endblock %}


