{% extends '@Souk/layout.html.twig' %}
{% block body %}
    <div class="section">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="section-title">
                    <h2 class="title">
                        Détails boutique
                    </h2>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="section">
            <!-- container -->
            <div class="container">

                <!-- row -->
                <div class="row">
                    <!--  Product Details -->
                    <div class="product product-details clearfix">
                        <div class="col-md-5">
                            <div id="product-main-view">
                                <div class="product-view">
                                    <img src="{{ asset('uploads/images/' ~ boutique.pathPhoto) }}"
                                         alt="image de la boutique" class="img-thumbnail
                    img-rounded img-responsive"/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="product-body">

                                <h2 class="product-name">{{ boutique.nom }}</h2>
                                <br>
                                <p><strong>Artisan :</strong>
                                    <a target="_blank" style="color: #229fac"
                                       href="{{ path('fos_user_profile_show',{id: boutique.idUser.id}) }}">
                                        {{ boutique.idUser.nom }}  {{ boutique.idUser.prenom }}</a>
                                </p>
                                <p><strong>Date de création
                                        : </strong>Le {{ boutique.dateCreation |  date('d/m/Y \\à H\\h i\\m s\\s') }}
                                </p>
                                <div class="product-rating">
                                    {% block rating %}
                                        {{ render(controller(
                                            'EvaluationBundle\\Controller\\EvaluationController::evaluationAction',
                                            { 'idBoutique': boutique.id }
                                        )) }}
                                    {% endblock rating %}
                                </div>
                                <div class="product-rating">
                                    {% block rate %}
                                        {{ render(controller(
                                            'EvaluationBundle\\Controller\\EvaluationController::afficherEvaluerAction',
                                            { 'idBoutique': boutique.id }
                                        )) }}
                                    {% endblock rate %}
                                </div>


                                <div class="product-btns">
                                    <div>
                                        {{ socialButtons() }}
                                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBoVSG3FplX2Ckbl672m4HWjnKK4WS5j2w&q={{boutique.adresse}}&attribution_source=Google+Maps+Embed+API&attribution_web_url=http://www.fairmont.com/empress-victoria/&attribution_ios_deep_link_id=comgooglemaps://?daddr=Fairmont+Empress,+Victoria,+BC" style="height: 400px;width: 700px">
                                        </iframe>
                                       {# <iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBoVSG3FplX2Ckbl672m4HWjnKK4WS5j2w&center={{boutique.altitude}},{{boutique.longitude}}&zoom=10&maptype=satellite">
                                        </iframe>#}
                                    </div>
                                    <div class="pull-right">

                                        <button class="btn btn-warning" id="voirP"
                                                {#href="{{ path('details_boutique',{id: tombola.id}) }}"#}
                                        >
                                            <i class="fa fa-eye"></i> Voir produits
                                        </button>
                                        {#<button class="btn btn-warning" id="voirM"#}
                                                {#href="{{ path('supprimerPart',{id: app.user.id}) }}"#}
                                        {#>#}
                                            {#<i class="fa fa-map"></i> Voir sur map#}
                                        {#</button>#}

                                        {% if is_granted('ROLE_ARTISAN') %}

                                            <button class="btn btn-warning" id="modi"
                                                    href="{{ path('modifier_boutique',{id: boutique.id}) }}"
                                            >
                                                <i class="fa fa-pencil"></i> Modifier
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="pull-left">
                                        <a href="{{ path('afficher_boutique') }}" class="btn btn-primary"
                                           role="button"><i class="fa fa-arrow-left"></i> Retour</a>
                                    </div>
                                </div>


                            </div>


                        </div>

                        <!-- /Product Details -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
                <!-- /section -->


            </div>
            <!-- /container -->
        </div>

    </div>
{% endblock body %}