<!DOCTYPE html>
{%extends '@Souk/layout.html.twig'%}
{% block body %}
                                <h1>Formulaire d'ajout</h1>

                                {{ form_start(form)  }}
                                {{ form_widget(form.adresseEtablissement, { 'id' : 'adresse'}) }}
                                <label></label>
                                {{ form_widget(form.altitude, { 'id' : 'altitude'}) }}
                                <label></label>

                                {{ form_widget(form.longitude, { 'id' : 'longitude'}) }}
                                <label></label>

                                {{ form_widget(form.idCategorie, { 'attr' : { 'class' : 'form-control '}}) }}

                                {{ form_widget(form) }}


                                {#{{ form_errors(form) }}#}
                                <input type="submit" class="hm_btn submit_frm" value="Enregistrer" id="submit"/>

                                {{ form_end(form) }}

{% endblock body %}



<!--map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNdePPJKYq0ptBV_AFi_4RnmUtMa1ZLFg&amp;libraries=places">
</script>
<script type="text/javascript" src="{{ asset('js/jquery.googlemap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/switcher.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
<script>
    google.maps.event.addDomListener(window, 'load', initialize);


    function initialize() {

        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('adresse'));
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var places= autocomplete.getPlace();
            var location = "Address: " + places.formatted_address + "<br/>";
            location += "Altitude: " + places.geometry.location.lat() + "<br/>";
            location += "Longitude: " + places.geometry.location.lng()  + "<br/>";
            document.getElementById('lblresult').innerHTML = location

        });





    }


</script>
