{% extends "@Souk/layout.html.twig" %}


{% block title %}
    <div class="section-title">
        <h2 class="title">
            Details Historiques
        </h2>
    </div>
{% endblock title %}

{% block fos_user_content %}

    <html>
    <table>
        <tr>
            <th>Reférence</th>
            <th>Libellé</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Taille</th>
            <th>Couleur</th>
            <th>Texture</th>
            <th>Poids</th>
            <th>Date d'ajout</th>
        </tr>
        {{ historique ? 'mawjoud' : 'null' }}

        {#{% for h in historique %}#}
            {#<tr>#}
                {#<td>#}
                    {#{{ h }}#}
                {#</td>#}

                {#<td>#}
                    {#{{ h.dateCreation|date('y/m/d') }}#}
                {#</td>#}

                {#<td>#}
                    {#{{ h.totalTtc }}#}
                {#</td>#}


                {#<td>#}
                    {#{{ h.fraisLivraison }}#}
                {#</td>#}

                {#<td>#}
                    {#{{ h.modePaiement }}#}
                {#</td>#}

                {#<td>#}
                    {#{{ h.modeLivraison}}#}
                {#</td>#}
            {#</tr>#}

        {#{% endfor %}#}

    </table>


    </html>
{% endblock fos_user_content %}