
  {% block shoppingcart %}
      <li class="header-cart dropdown default-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <div class="header-btns-icon">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="qty">{{produits|length }}</span>
              </div>
              <strong class="text-uppercase">Mon panier:</strong>
              <br>
              <span>TND{{ monpanier.totalTtc }}</span>
          </a>
          <div class="custom-menu">
              <div id="shopping-cart">
                  <div class="shopping-cart-list">

 {% for produit in produits %}

     <div id="{{ produit.id }}" class="product product-widget">
         <div class="product-thumb">
             <img src="{{ asset('img/main-product01.jpg') }}" alt="">
         </div>
         <div class="product-body">
             <h3 class="product-price">TND{{ produit.prix }} <span class="qty">x3</span></h3>
             <h2 class="product-name"><a href="#">{{ produit.libelle }}</a></h2>
         </div>
         <button class="cancel-btn"><i class="fa fa-trash"></i></button>
     </div>
 {% endfor %}
  {% endblock %}
                  </div>
                  <div class="shopping-cart-btns">
                      <a  href="{{ path('panier_default_index') }}">
                      <button class="main-btn">Voir Panier</button>
                      </a>
                      <a  href="{{ path('panier_default_index') }}">
                      <button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i>
                      </button>
                      </a>
                  </div>
              </div>
          </div>
      </li>