{% extends '@Souk/layout.html.twig' %}
{% block body %}
    <div class="section" style="padding: 20px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="section-title">
                    <h2 class="title">
                        Nos tombolas
                    </h2>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="section">

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- MAIN -->
                    <div id="main" class="col-md-10 col-md-offset-1">
                        <!-- store top filter -->
                        <div class="store-filter clearfix">
                            <div class="pull-right">
                                <div class="row-filter">
                                    <form class="navbar-form" role="search" style="padding-left: 60px">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="keyword"
                                                   placeholder="Chercher...">
                                            <span class="input-group-btn">
                                        <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                    </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /store top filter -->
                        <!-- STORE -->

                        <div id="store">
                            <!-- row -->
                            <div class="row" id="result">
                                {% for tombola in tombolas %}
                                    <!-- Product Single -->
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <a href="{{ path('detailsFront',{id: tombola.id}) }}">

                                            <div class="product product-single">
                                                <div class="product-thumb">
                                                    <div class="product-label">

                                                        {% if 'now '|date('Y-m-d H:i:s') < tombola.dateTirage|date('Y-m-d H:i:s') %}
                                                            <span style="background-color: forestgreen">Ouverte</span>
                                                        {% elseif tombola.idGagnant is not null %}
                                                            <span style="background-color: red" class="pull-right">Cloturé</span>
                                                        {% else %}
                                                            <span style="background-color: orange" class="pull-right">Fermée</span>
                                                        {% endif %}
                                                    </div>

                                                    <img src="{{ asset('uploads/' ~ tombola.path) }}"
                                                         alt="image du tombola" width="350px" height="330px">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-price"><a
                                                                href="{{ path('detailsFront',{id: tombola.id}) }}">
                                                            {{ tombola.titre }}</a>
                                                    </h3>

                                                    <h2 class="product-name"><a
                                                                href="{{ path('detailsFront',{id: tombola.id}) }}">
                                                            {{ tombola.description [0:30] }}{% if tombola.description|length > 30 %}...{% endif %}</a>
                                                    </h2>
                                                    <div class="product-btns">
                                                        {#<button class="main-btn icon-btn"><i class="fa fa-heart"></i>#}
                                                        {#</button>#}
                                                        {#<button class="main-btn icon-btn"><i class="fa fa-exchange"></i>#}
                                                        {#</button>#}
                                                        <a href="{{ path('detailsFront',{id: tombola.id}) }}">
                                                            <button class="btn primary-btn add-to-cart"><i
                                                                        class="fa fa-info"></i>
                                                                En savoir plus
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                    <!-- /Product Single -->
                                {% endfor %}

                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /STORE -->

                    </div>
                    <!-- /MAIN -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /section -->

    </div>
    <!-- /container -->


    {% block javascripts %}
        <script>
            var searchField = $('#keyword');
            var tombola_div = $('#result');
            var delay = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();
            searchField.keyup(function (evt) {

                var array = {'key': searchField.val()};

                delay(function () {
                    $.ajax({
                        url: '{{ path('rechercheAJAXFront_tombola') }}',
                        method: "POST",
                        data: array,
                        dataType: 'html',
                        success: function (result) {
                            var parsedData = result;
                            tombola_div.fadeOut(function () {
                                tombola_div.empty();
                                tombola_div.html(parsedData).fadeIn();
                            });
                        }
                    });
                }, 100);
            });
        </script>
    {% endblock javascripts %}

{% endblock body %}